%li.prompt{name: prompt.content.downcase}
  %div
    =link_to "#{prompt.content} : #{prompt.created_at.strftime("%d/%m/%y")}", prompt_path(prompt)
    (#{pluralize(prompt.poems.count, "response")})
  - if current_user.poems.for(prompt).any?
    - latest = current_user.poems.for(prompt).first
    .response-time
      %em= link_to "(you last responded on #{latest.created_at})", poem_path(prompt, latest)
