#prompts{ role: 'main' }
  .row
    .four.columns
      = form_tag '/prompts', method: :get, id: 'prompt_search_form', remote: true do
        = label_tag :query, "Search for a prompt"
        = text_field_tag :query, '', autocomplete: 'off'

  .row
    .twelve.columns
      #prompt-list
        #prompt-paginator
          = paginate @prompts, remote: true
        %ul.prompts
          = render @prompts
