#profile{ role: 'main' }
  - unless viewing_self?
    .row
      .six.columns
        %h2= @view_user.display_name
      .six.columns
        #following-link
          = follow_link(@view_user)

  .row
    .six.columns
      %h2 #{display_name_genitive @view_user} Prompts
      #prompt-paginator
        = paginate @prompts, param_name: :prompt_page, remote: true
      %ul#prompt-list
        = render @prompts

    .six.columns
      %h2 #{display_name_genitive @view_user} Poems
      #poem-paginator
        = paginate @poems, param_name: :poem_page, remote: true
      %ul#poem-list
        = render @poems

  .row
    .twelve.columns
      %h2 #{display_name_genitive @view_user} Followed Users

      %ul
        - @view_user.followed_users.each do |user|
          %li= link_to user.display_name, profile_path(user)

  - if viewing_self?
    = render partial: 'profile/settings'
