#profile{ role: 'main' }
  - unless @view_user == current_user
    .row
      .six.columns
        %h2= @view_user.display_name
      .six.columns
        = following_link(@view_user)

  .row
    .six.columns
      %h2 #{display_name_genitive @view_user} Prompts
      %ul
        - @view_user.prompts.each do |prompt|
          %li=link_to "#{prompt.content} (#{pluralize prompt.poems.count, "response"})", prompt_path(prompt)

    .six.columns
      %h2 #{display_name_genitive @view_user} Poems
      %ul
        - @view_user.poems.each do |poem|
          %li=link_to "#{poem.content}", poem_path(poem.prompt, poem)


  - if @view_user == current_user
    .row
      .twelve.columns
        %h2 My Settings
    .row
      .four.columns
        %h3 Change my name
        %span.success.round.label.name-label
          Name Updated!
        %span.alert.round.label.name-label
          Whoops...
        = text_field_tag :name, current_user.name, id: 'settings_name'
      .four.columns
        %h3 Change my email
        TBI
      .four.columns
        %h3 Change my password
        TBI
