#profile{ role: 'main' }
  - unless @view_user == current_user
    .row
      .six.columns
        %h2= @view_user.display_name
      .six.columns
        - unless viewing_self?
          #following-link
            = render partial: 'shared/user_following', locals: { user: @view_user }

  .row
    .six.columns
      %h2 #{display_name_genitive @view_user} Prompts
      %ul
        - @view_user.prompts.each do |prompt|
          %li=link_to "#{prompt.content} (#{pluralize prompt.poems.count, "response"})", prompt_path(prompt)
        - if viewing_self?
          %li= link_to "Create a new prompt", new_prompt_path

    .six.columns
      %h2 #{display_name_genitive @view_user} Poems
      %ul
        - @view_user.poems.each do |poem|
          %li=link_to "#{poem.first_line}", poem_path(poem)

  .row
    .twelve.columns
      %h2 #{display_name_genitive @view_user} Followed Users

      %ul
        - @view_user.followed_users.each do |user|
          %li= link_to user.display_name, profile_path(user)

  - if viewing_self?
    = render partial: 'profile/settings'
