!!!
%html
  %head
    %title PoetryWithFriends
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
  %body
    %ul.nav-bar
      - if user_signed_in?
        %li.greeting Hello #{current_user.email}
        %li= link_to "Home", root_path
        %li= link_to "Log out", destroy_user_session_path, method: :delete
        %li= link_to "Prompts", prompts_path
      - else
        %li= link_to "Log in", new_user_session_path

    = yield
