!!!
%html
  %head
    %title PoetryWithFriends
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %ul
      - if user_signed_in?
        %li Hello #{current_user.email}
        %li= link_to "Home", root_path
        %li= link_to "Log out", destroy_user_session_path
        %li= link_to "All prompts", prompts_path
      - else
        %li= link_to "Log in", new_user_session_path

    = yield
